<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <title><%= title %></title>
  </head>
  <body>
    <% include common/header.ejs %>
  <h1>Hi! YOU did it! <%= name %></h1>
  </body>
</html>
